body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
}
header {
  width:100%;
  height:140px;
  padding-top:10px;
  background-color:rgb(255, 166, 0);
}
.content {
  max-width: 960px;
  margin: auto;
}
#tiger {
  width:130px;
  float:left;
  padding:10px;
}
#web2{
  max-width: 960px;
  margin: auto;
  padding: 10px 0px 10px 0;
  height: 110px;
  background-color:rgb(255, 215, 129);
}
.navbar {
  background-color: #848d32;
  margin:auto;
  max-width: 960px;
}

.navbar a {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
  background-color: #ffe600;
}

ol {
  display: inline-block;
}
li:hover {
  background-color: #000000;
  color: #FFFF;
}
header img:hover {
  background-color: #bdbdbd;
}
li img {
  padding: 10px;
}
a {
  text-decoration-color: #000000;
  color: #ff9900;
}
li {
  padding: 3px;
  width: auto;
}
table {
  display: inline-block;
  border-collapse: collapse;
  border: 5px solid rgb(253, 255, 155);
}
th { 
    text-align: center;
    background: rgb(255, 227, 101);
    padding: 5px;
    border: 3px solid rgb(239, 255, 95);
   }
td {
    text-align: center;
    padding: 5px;
    border: 3px solid rgb(255, 234, 234);
    width: 5cm
   }
td[rowspan]{
     width: auto;
   }
.time {
     width: auto;
   }
tr:nth-child(odd){
  background-color: rgb(82, 248, 193);
}
tr:nth-child(even){
  background-color: rgb(110, 209, 216);
}
footer{
  background-color: cornflowerblue;
  height: 90px;
  padding: 30px;
}
#copy {
  max-width: 960px;
  margin: auto;
}